@import './config';
@import './nav';
@import './header';
@import './section';
@import './meusita';

body {
    font-family: $roboto;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
}

.underline {
    text-decoration: underline;
}

.special {
    color: $grey;
}

img {
    width: 100%;
    height: 100%;
}


